/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-left {
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .clip-path-right {
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  }
}

@layer base {
  body {
    @apply antialiased font-body bg-white text-blackText;
  }
  .wysiwyg {
    counter-reset: bulletinCount;
  }
  .wysiwyg p,
  ul,
  ol {
    @apply mb-6;
  }
  .wysiwyg a {
    @apply underline ease-in-out duration-200 hover:text-teal;
  }
  .wysiwyg ul,
  .wysiwyg ol {
    @apply mx-4;
  }
  .wysiwyg li {
    @apply relative pl-5 my-3;
  }
  .wysiwyg ol > li::before {
    counter-increment: bulletinCount;
    content: counter(bulletinCount) '. ';
    @apply absolute top-0 left-0 font-semibold;
  }
  .wysiwyg ul > li::before {
    content: '•';
    @apply absolute top-[3px] left-0 text-teal;
  }
}

@layer components {
  .gutter {
    @apply mx-4 lg:mx-0;
  }
  .gutter-special {
    @apply mx-[82px];
  }
  .first-top-space {
    @apply mt-20 lg:mt-[100px];
  }
  .y-space {
    @apply my-20 lg:my-[230px];
  }
  .bot-space {
    @apply mb-20 lg:mb-[230px];
  }
  .mb-heading {
    @apply mb-6 lg:mb-10;
  }
  .mb-text {
    @apply mb-6 lg:mb-10;
  }
  .padding-card {
    @apply py-10 lg:py-14;
  }
  .input {
    @apply px-4 py-2 text-sm lg:text-base text-blackText placeholder-grey bg-white appearance-none block w-full border border-grey rounded-md focus:outline-none focus:ring-teal focus:border-teal focus:z-10;
  }

  /*  TYPOGRAPHY */
  /* *** HEADING *** */
  .typo-h-xl {
    @apply font-heading text-[2.5rem] leading-[110%] font-medium;
    /* hero title */
  }
  .typo-h-xl-desktop {
    @apply font-heading text-[4rem] leading-[110%] font-medium;
    /* hero title */
  }
  .typo-h-lg {
    @apply font-heading text-[2rem] leading-[110%] font-medium;
    /* page title */
  }
  .typo-h-lg-desktop {
    @apply font-heading text-[2.5rem] leading-[110%] font-medium;
    /* page title */
  }
  .typo-h-md-desktop {
    @apply font-heading text-3xl leading-[110%] font-medium;
    /* big card title */
  }
  .typo-h-sm {
    @apply font-heading text-[1.375rem] leading-[110%] font-medium;
    /* small card title */
  }
  .typo-h-sm-desktop {
    @apply font-heading text-2xl leading-[110%] font-medium;
    /* small card title */
  }

  /* *** BODY *** */
  .typo-b-lg {
    @apply text-lg leading-[140%] font-light;
    /* hero text */
  }
  .typo-b-lg-desktop {
    @apply text-2xl leading-[140%] font-light;
    /* hero text */
  }
  .typo-b-md {
    @apply text-sm leading-[140%];
    /* normal text - has 3 different weight */
  }
  .typo-b-md-desktop {
    @apply text-base leading-[140%];
    /* normal text - has 3 different weight */
  }

  /* *** HIGHLIGHT *** */
  .typo-h-highlight {
    @apply font-heading text-sm leading-[110%] font-semibold uppercase;
  }
  .typo-h-highlight-desktop {
    @apply font-heading text-base leading-[110%] font-semibold uppercase;
  }

  /* *** MENU *** */
  .typo-h-menu {
    @apply font-heading text-base leading-[110%] font-semibold uppercase;
  }
}
